%form#hashtag_form{:method => :post, :action => '/hashtag'}
  %input{:type => 'text', :name => 'hashtag', :id => :hashtag}
  %input{:type => 'button', :id => 'start_button', :value => '開始'}
%h2#now_streaming
%dl#messages
- @posts.each do |post|
  %dt
    %img{'src' => post['user'] && post['user']['profile_image_url'], :width => '48px', :height => '48px'}
    = post['user']['name'] if post['user']
  %dd= post['text']
