!!!doctype
%html
  %head
    %meta{'http-equiv' => 'Content-Type', 'content' => 'text/html; charset="UTF-8"'}
    %title Twitter 生中継
    %link{'rel' => 'stylesheet', :href => '/media/css/style.css'}
  %body
    =yield
  %script{:src => '/media/js/jquery-1.3.2.min.js'}
  %script{:src => '/media/js/index.js'}
